body {
  margin: 0;
  background-color: aquamarine;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

main {
  width: 75%;
  margin: 5px;
  padding: 5px;
  border: 2px solid darkcyan;
  background-color: azure;
}

aside {
  width: 25%;
  margin: 5px;
  padding: 5px;
  border: 2px solid darkcyan;
  background-color: rgb(194, 209, 209);
}

caption {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

th,
td {
  text-align: center;
}

input[type="checkbox"] {
  transform: scale(1.3, 1.3);
}

.controls {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.balances {
  font-size: 18px;
}

.btn {
  background: #ac60a0;
  color: white;
  padding: 5px 15px;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn:active {
  transform: scale(0.98);
}

.btn:hover {
  background: #c3739f;
  color: white;
}
